.container {
    margin: auto;
    max-width: 768px;
}

.canvas-container {
    width: 100%;
    height: 300px;
    max-height: 320px;
}

.canvas-container canvas {
    margin: 0;
}

.message {
    left: 52.3%;
    top: 23.5%;
}