.container {
    margin: auto;
    max-width: 768px;
}

.canvas-container {
    width: 100%;
    height: 300px;
    max-height: 320px;
}

.canvas-container canvas {
    margin: 0;
}

.message {
    left: 52.3%;
    top: 23.5%;
    /* left: 0;
    top: 0; */
}

.big-message {
    left: 52.3%;
    top: 23.5%;
    font-size: 24px;
}

.circle-image {
    /* left: 6.06%;
    top: 16.11%; */
    left: 5.8%;
    top: 15.8%;
    z-index: -1;
    /* max-width: calc(41.63% - 6.06%); */
    max-width: calc(41.63% - 5%);
    max-height: calc(41.63% - 5%);
    object-fit: cover;
}

.image-container {
    width: 1040px;
}

.hidden-container {
    position: absolute;
    top: -10000px;
}